# Multivariate Regression

Let's grab a small little data set of Blue Book car values:

In [1]:
import pandas as pd

df = pd.read_excel('http://cdn.sundog-soft.com/Udemy/DataScience/cars.xls')

In [2]:
df.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

We can use pandas to split up this matrix into the feature vectors we're interested in, and the value we're trying to predict.

Note how we use pandas.Categorical to convert textual category data (model name) into an ordinal number that we can work with.

This is actually a questionable thing to do in the real world - doing a regression on categorical data only works well if there is some inherent order to the categories!

In [3]:
import statsmodels.api as sm

df['Model_ord'] = pd.Categorical(df.Model).codes
X = df[['Mileage', 'Model_ord', 'Doors']]
y = df[['Price']]

X1 = sm.add_constant(X)
est = sm.OLS(y, X1).fit()

est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.042
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     11.57
Date:                Sat, 18 Feb 2017   Prob (F-statistic):           1.98e-07
Time:                        11:44:17   Log-Likelihood:                -8519.1
No. Observations:                 804   AIC:                         1.705e+04
Df Residuals:                     800   BIC:                         1.706e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const       3.125e+04   1809.549     17.272      0.000      2.77e+04  3.48e+04
Mileage       -0.1765      0.042     -4.227      0.000        -0.259    -0.095
Model_ord    -39.0387     39.326     -0.993      0.321      -116.234    38.157
Doors      -1652.9303    402.649     -4.105      0.000     -2443.303  -862.558
==============================================================================
Omnibus:                      206.410   Durbin-Watson:                   0.080
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              470.872
Skew:                           1.379   Prob(JB):                    5.64e-103
Kurtosis:                       5.541   Cond. No.                     1.15e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.15e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

The table of coefficients above gives us the values to plug into an equation of form:
    B0 + B1 * Mileage + B2 * model_ord + B3 * doors
    
But in this example, it's pretty clear that mileage is more important than anything based on the std err's.

Could we have figured that out earlier?

In [4]:
y.groupby(df.Doors).mean()

              Price
Doors
2      23807.135520
4      20580.670749

Surprisingly, more doors does not mean a higher price! (Maybe it implies a sport car in some cases?) So it's not surprising that it's pretty useless as a predictor here. This is a very small data set however, so we can't really read much meaning into it.

## Activity

Mess around with the fake input data, and see if you can create a measurable influence of number of doors on price. Have some fun with it - why stop at 4 doors?

In [5]:
y.groupby(df.Mileage).mean()

                Price
Mileage
266      10813.343521
583      70755.466717
636      25948.962594
788      48310.329545
865      16116.843916
881      17360.810635
932      19446.882941
1160     14584.448122
1169     15635.796160
1480     19164.610627
1592     19822.115392
1676     35033.215454
1737     14739.067236
1787     20021.195206
1853     21757.049509
2189     19567.259291
2202     51154.047216
2295     23197.436790
2308     25589.983155
2392     15110.192598
2464     14894.982593
2616     48365.980897
2846     42741.523666
2879     16916.869535
2973     16927.779761
2992     20698.077083
3625     46732.606030
3629     12649.110893
3828     37088.562413
3867     32197.340466
...               ...
34191    31186.741463
34269    26012.374625
34447    11149.618304
34621     9919.048185
34665    17968.838278
34815    12741.190233
34998    11521.525888
35157    27666.231078
35299     8768.998585
35326    32038.339563
35624    16216.980706
35662    13585.636802
36074    32954.141336
36480    25527.013027
36557    25845.206115
36566    11581.905044
36855    11080.516378
37128    21536.741730
37345     9954.054174
38717    24912.080581
38866    10546.782745
38958    11539.048533
39049    17586.928583
39946    11328.958868
40719    24903.477739
41566    15792.831437
41829    32537.186751
42691    52001.994379
48991    28777.959695
50387    22244.876553

[791 rows x 1 columns]